@import "normalize"
@import "compass/css3/images"
@import "compass/css3/font-face"

$BACKGROUND_MIXED_COLOR: #eee
$BACKGROUND_BASIC_COLOR: #f2f2f2
$BACKGROUND_STRIPES_COLOR: #ddd
$HIGHLIGHT_COLOR: #390
$TEXT_COLOR: #333

$HEADER_HEIGHT: 16px * 4

+font-face("icons", inline-font-files("icons.woff", woff))

=striped-bg
    +background($BACKGROUND_BASIC_COLOR linear-gradient(-45deg, $BACKGROUND_STRIPES_COLOR, $BACKGROUND_STRIPES_COLOR 3%, transparent 3%, transparent 47%, $BACKGROUND_STRIPES_COLOR 47%, $BACKGROUND_STRIPES_COLOR 53%, transparent 53%, transparent 97%, $BACKGROUND_STRIPES_COLOR 97%, $BACKGROUND_STRIPES_COLOR 100%))
    background-size: 14px 14px

=crossed-bg
    +background(linear-gradient(-45deg, $BACKGROUND_MIXED_COLOR, $BACKGROUND_MIXED_COLOR 3%, transparent 3%, transparent 47%, $BACKGROUND_MIXED_COLOR 47%, $BACKGROUND_MIXED_COLOR 53%, transparent 53%, transparent 97%, $BACKGROUND_MIXED_COLOR 97%, $BACKGROUND_MIXED_COLOR 100%), linear-gradient(45deg, $BACKGROUND_MIXED_COLOR, $BACKGROUND_MIXED_COLOR 3%, transparent 3%, transparent 47%, $BACKGROUND_MIXED_COLOR 47%, $BACKGROUND_MIXED_COLOR 53%, transparent 53%, transparent 97%, $BACKGROUND_MIXED_COLOR 97%, $BACKGROUND_MIXED_COLOR 100%) white)
    background-size: 6px 6px

body
    background: $BACKGROUND_MIXED_COLOR
    +striped-bg
    color: $TEXT_COLOR

.btn
    +background(image_url("noise.png"), linear-gradient(#262626, #111))

    height: 8px * 7
    width: 8px * 7
    line-height: 8px * 7 - 1px

    box-sizing: border-box
    display: inline-block
    padding-right: 10px

    border-radius: 8px
    color: white
    font-family: "icons"
    font-size: 44px
    text-align: center
    text-decoration: none
    text-shadow: 0 -1px 0 black

    &.tel::after
        content: "p"

[role="banner"]
    height: $HEADER_HEIGHT
    box-sizing: border-box
    padding: 8px
    position: relative

    background: #111
    border-top: 2px $HIGHLIGHT_COLOR solid

    .inner
        padding: 0 64px
        text-align: center

    .logo
        width: (368px / 2)
        height: (99px / 2)
        background: image_url("frizz-logo.png") no-repeat scroll
        background-size: (368px / 2) (99px / 2)

        display: inline-block

    .btn
        position: absolute

    .right
        right: 16px
        top: 2px

[role="main"]
    background: $BACKGROUND_MIXED_COLOR
    border: 5px solid #c7c7c7
    margin: 8px 16px
