<div class="content-menu-wrapper">
    <ul class="content-menu indented">
        <li><a class="address"
                href="https://maps.google.de/maps?ie=UTF8&amp;cid=15364334962959355130&amp;q=Restaurant+Santa+Fe+New+Mexican&amp;iwloc=A&amp;gl=DE&amp;hl=de"><figure class="icon location"></figure>Holtenauer Straße 93 24105 Kiel</a></li>
        <li><a href="tel:0431578494"><figure class="icon phone"></figure>0431 578494</a></li>
        <li><a href="http://www.santa-fe.de/"><figure class="icon globe"></figure>http://santa-fe.de/</a></li>
        <li><a href="mailto:info@santa-fe.de"><figure class="icon mail"></figure>info@santa-fe.de</a></li>
    </ul>
</ul>
