<div class="content">
    <a href="https://maps.google.de/maps?ie=UTF8&amp;cid=15364334962959355130&amp;q=Restaurant+Santa+Fe+New+Mexican&amp;iwloc=A&amp;gl=DE&amp;hl=de"><figure class="gmap" style="background-image: url(http://maps.google.com/maps/api/staticmap?center=54.336470,10.132313&amp;zoom=15&amp;markers=color:orange|54.336096,10.133149&amp;size=300x200&amp;sensor=true);">
    </figure></a>

    <h2>Anfahrt</h2>
    <address>
        Santa Fe<br>
        Holtenauerstraße 93<br>
        24105 Kiel<br>
    </address>

    <h2>Buslinien</h2>
    <p>Sie erreichen außerdem über folgende Buslinien:</p>

    <ul>
        <li>Linie 502, Haltestelle Schauspielhaus</li>
        <li>Linie 901, Haltestelle Schauspielhaus</li>
    </ul>
</div>
