<div class="content">
    <a
        href="https://maps.google.de/maps?ie=UTF8&amp;cid=260348472737950159&amp;q=El+Paso&amp;iwloc=A&amp;gl=DE&amp;hl=de"><figure class="gmap" style="background-image: url(http://maps.google.com/maps/api/staticmap?center=54.320729,10.133343&amp;zoom=15&amp;markers=color:blue|54.320630,10.133349&amp;size=300x200&amp;sensor=false);">
    </figure></a>

    <h2>Anfahrt</h2>
    <address>
        El Paso<br>
        Kleiner Kuhberg 2<br>
        24103 Kiel<br>
    </address>

    <h2>Buslinien</h2>
    <p>Sie erreichen außerdem über folgende Buslinien:</p>

    <ul>
        <li>Linie 22, Haltestelle Ziegelteich</li>
        <li>Linie 34, Haltestelle Ziegelteich</li>
    </ul>
</div>
