<div class="wrap">
    <a href="https://maps.google.de/maps?ie=UTF8&amp;cid=9166794445542266776&amp;q=Frizz+-+Restaurant+%26+Catering&amp;iwloc=A&amp;gl=DE&amp;hl=de"><figure class="gmap" style="background-image: url(http://maps.google.com/maps/api/staticmap?center=54.337595,10.129309&amp;zoom=16&amp;markers=color:green|54.337330,10.131000&amp;size=500x300&amp;sensor=false);">
    </figure></a>

    <h2>Anfahrt</h2>
    <p>
        Frizz - Restaurant &amp; Catering<br>
        Olshausenstraße 8<br>
        24118 Kiel-Ravensberg<br>
    </p>
</div>
