<div class="content">
    <figure class="spotlight">
        <img src="images/gallery/pic01.jpg" alt="Eingang">
    </figure>
    <div class="timetable">
        <header><figure class="inline-icon calendar"></figure>Öffnungszeiten</header>
        <dl>
            <dt>Montag - Freitag</dt>
            <dd>11.30 - 24.00</dd>
            <dt>Mittagstisch</dt>
            <dd>12.00 - 15.00</dd>
        </dl>
    </div>
    <article class="prose">
        <ul>
            <li>Real American Food</li>
            <li>Amerikanisch-mexikanisches Restaurant</li>
            <li>variantenreiche Speisekarte</li>
            <li>besondere Atmosphäre</li>
            <li>Originalrezepte</li>
            <li>Komplett Nichtraucherrestaurant</li>
    </article>

    <p>
        Geschäftsführer: Adlan Agri
    </p>
</div><!-- /content -->
