<div class="content">
    <figure class="spotlight">
        <img src="images/gallery/pic01.jpg" alt="Eingang">
    </figure>
    <div class="timetable">
        <header><figure class="inline-icon calendar"></figure>Öffnungszeiten</header>
        <dl>
            <dt>Montag - Freitag</dt>
            <dd>12.00 - 24.00</dd>
            <dt>Samstag - Sonntag</dt>
            <dd>10.00 - 24.00</dd>
        </dl>
    </div>
    <article class="prose">
        Mit dem Frizz haben wir zahl&shy;reiche Aspekte unter einem Dach
        zusammen&shy;gefasst. Die Synthese aus Café, Bar und Restaurant soll Ihnen
        ein stil&shy;volles Ambiente für jede Gelegenheit bieten. Unser kreatives
        Kochtea kombiniert die kos&shy;kanische Land&shy;küche mit der neuen
        deutschen Küche. Ferner wollen asiatische Einflüsse und unsere ständig
        wechselnden Aktionskarten Sie zu kleinen Sünden überreden. Dass unser Brot
        und viele unserer Dessert&shy;speziali&shy;täten hausgemacht sowie unsere
        Dressings Eigen&shy;kompositionen sind und ihr Wunschgericht ausschließlich
        aus frischen Zutaten zubereitet wird, ist für uns selbstverständlich. Wir
        hoffen Sie bald bei uns im Frizz
        zu sehen.
    </article>

    <p>
        Inhaber: Kostja Eulitz<br>
        Umsatzsteuer-Identifikationsnummer: 28 317 0823
    </p>
</div><!-- /content -->
