<div class="content">
    <figure class="spotlight">
        <img src="images/gallery/pic01.jpg" alt="Eingang">
    </figure>
    <div class="timetable">
        <header><figure class="inline-icon calendar"></figure>Öffnungszeiten</header>
        <dl>
            <dt>Montag - Sonntag</dt>
            <dd>17.00 - 24.00</dd>
        </dl>
    </div>
    <article class="prose">
        Im Santa Fe steht Bison für natürlich, gesund und vor allem lecker.
        Durch seinen einzigartigen feinen Geschmack zwischen Rindfleisch und
        Wild sowie seinen besonderen Eigenschaften kann Bisonfleisch für eine
        Vielzahl von Gerichten verwendet werden. Bisonfleisch zeichnet sich
        einerseits durch seinen hohen Gehalt an biologisch wertvollen Proteinen
        und Eisen aus, andererseits ist es besonders cholesterin-, fett- und
        kalorienarm. Die Farmer garantieren eine Aufzucht absolut frei von
        Hormonen, Wachstumsstimulatoren und Antibiotika.
    </article>

    <p>
        Inhaber: Timo Stubbe-Horn &ampt; Torsten Stubbe
    </p>
</div><!-- /content -->
